<div class="input_text"><%= @msg%></div>
<img src="assets/title.png" class="title_image">
<% if $game["prev_page"] == "battle" %>
<div class="game_over"><p>GAME OVER...</p></div>
<% end %>
<div class="title_text"><p>[SELECT] Load&emsp;&emsp;[START] <%= %>Go to World</p></div>
